# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub/
build/

# Android
/android/.gradle/
/android/app/build/
/android/build/
/android/gradle/
/android/gradlew
/android/gradlew.bat
/android/gradle-wrapper.jar
/android/settings.gradle

# iOS
ios/Pods/
ios/Runner.xcworkspace/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/ephemeral/
ios/DerivedData/

# IntelliJ / Android Studio
.idea/
*.iml

# VS Code
.vscode/

# Misc
*.log
.metadata
